@media (max-width: 1050px) {
  .welcome_bage h2 {
    font-size: 150px;
    font-weight: bolder;
  }
  .welcome_bage {
    left: 50px;
  }
  .welcome_bage p {
    font-size: 45px;
    font-weight: bold;
  }
  .welcome_bage button {
    height: 100px;
    font-size: 40px;
    margin-top: 100px;
  }
  nav {
    height: 200px;
  }
  label.logo {
    font-size: 50px;
  }
  nav ul li a {
    font-size: 25px;
  }
}
@media (max-width: 1030px) {
  .second_section {
    height: 200vh;
  }
}

@media (max-width: 850px) {
  .welcome_bage {
    top: 200px;
    left: 10px;
    padding: 10px;
  }

  .welcome_bage p {
    font-size: 45px;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 50px;
  }
  .welcome_bage h2 {
    margin-top: 60px;
    font-size: 60px;
  }

  .second_section {
    height: 110vh;
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {
  .welcome_bage {
    top: 200px;
    left: 10px;
    padding: 10px;
  }

  .welcome_bage p {
    font-size: 35px;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 50px;
  }
  .welcome_bage h2 {
    margin-top: 60px;
  }

  .second_section {
    height: 110vh;
    margin-bottom: 20px;
  }
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
  .second_section {
    height: 100vh;
  }
  nav ul li a {
    font-size: 30px;
  }
}
@media (max-width: 953px) {
  .second_section {
    height: 140vh;
  }
}

@media (max-width: 870px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: yellow;
  }
  #check:checked ~ ul {
    left: 0;
    z-index: 1;
    transition: all ease 0.5s;
  }
  nav {
    height: 80px;
  }
  .second_section {
    height: 150vh;
  }
  .welcome_bage {
    margin-top: -50px;
  }
  .second_section button {
    font-size: 20px;
    height: 70px;
  }
}
@media (max-width: 430px) {
  .second_section {
    height: 95vh;
  }
  .welcome_bage {
    top: 170px;
    margin-bottom: 0;
  }
  .welcome_bage h2 {
    font-size: 40px;
    margin-bottom: -15px;
    font-weight: bolder;
  }
  .welcome_bage p {
    font-size: 30px;
    font-weight: bold;
  }
  .welcome_bage button {
    font-size: 20px;
  }
  nav {
    height: 80px;
  }
  .welcome_bage button {
    font-size: 20px;
    height: 60px;
    transition: all ease 0.5s;
  }
  .welcome_bage button:hover {
    color: white;
    background: rgb(131, 108, 77);
    background: linear-gradient(
      111deg,
      rgba(131, 108, 77, 1) 0%,
      rgba(0, 106, 106, 1) 99%,
      rgba(0, 107, 113, 1) 100%
    );
  }
}

@media (max-width: 360px) {
  label.logo {
    font-size: 20px;
  }
}
@media (max-width: 376px) {
  .second_section {
    height: 130vh;
  }
}
